<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="treeview">
          <a href="#">
            <i class="fa fa-phone-square"></i>
            <span>Employee</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Employee/List"><i class="fa fa-circle-o"></i>Employee</a></li>
<!--            <li><a href="#List/Salary%20Slip/List"><i class="fa fa-circle-o"></i>Salary Slip</a></li> 
           <li><a href="#List/Salary%20Structure/List"><i class="fa fa-circle-o"></i>Salary Structure</a></li> 
           <li><a href="#List/Salary%20Component/List"><i class="fa fa-circle-o"></i>Salary Components</a></li>  -->
          </ul>
        </li>
        <!--HRM Leave -->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-line-chart"></i>
            <span>Leaves & Holidays</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        <ul class="treeview-menu">
            <li><a href="#List/Leave%20Application/List"><i class="fa fa-circle-o"></i>Leave Application</a></li>
            <li><a href="#List/Leave%20Type/List"><i class="fa fa-circle-o"></i>Leave Type</a></li>
            <li><a href="#List/Holiday%20List/Listt"><i class="fa fa-circle-o"></i>Holiday List</a></li>
            <li><a href="#List/Leave%20Allocation/List"><i class="fa fa-circle-o"></i>Leave Allocation</a></li>
            <li><a href="#Form/Leave%20Control%20Panel"><i class="fa fa-circle-o"></i>Leave Allocation Tool</a></li>
           <li><a href="#List/Leave%20Block%20List/List"><i class="fa fa-circle-o"></i>Leave Block List</a></li> 
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#query-report/Employee%20Leave%20Balance"><i class="fa fa-circle-o"></i>Employee Leave Balance</a></li>
            <li><a href="#query-report/Employee%20Birthday"><i class="fa fa-circle-o"></i>Employee Birthday</a></li>
            <li><a href="#query-report/Employees%20working%20on%20a%20holiday"><i class="fa fa-circle-o"></i>Employees working on a holiday</a></li>
            <li><a href="#Report/Employee/Employee%20Information"><i class="fa fa-circle-o"></i>Employee Information</a></li>
            <li><a href="#query-report/Salary%20Register"><i class="fa fa-circle-o"></i>Salary Register</a></li>
            <li><a href="#query-report/Monthly%20Attendance%20Sheet"><i class="fa fa-circle-o"></i>Monthly Attendance Sheet</a></li>
            <li><a href="#query-report/Vehicle%20Expenses"><i class="fa fa-circle-o"></i>Vehicle Expenses</a></li>
          </ul>
<!--         </li> 
         <li class="treeview">
          <a href="#">
            <i class="fa fa-cubes"></i>
            <span>Recruitment</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Job%20Applicant/List"><i class="fa fa-circle-o"></i>Job Applicant</a></li>
            <li><a href="#List/Job%20Opening/List"><i class="fa fa-circle-o"></i>Job Opening</a></li>
            <li><a href="#List/Offer%20Letter/List"><i class="fa fa-circle-o"></i>Offer Letter</a></li> 
          </ul>
        </li> -->
       <li class="treeview">
          <a href="#">
            <i class="fa fa-file-powerpoint-o"></i>
            <span>Setup</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#Form/HR%20Settings"><i class="fa fa-circle-o"></i>HR Settings</a></li>
            <li><a href="#List/Employment%20Type/List"><i class="fa fa-circle-o"></i>Employment Type</a></li>
            <li><a href="#List/Branch/List"><i class="fa fa-circle-o"></i>Branch</a></li>
            <li><a href="#List/Department/List"><i class="fa fa-circle-o"></i>Department</a></li>
            <li><a href="#List/Designation/List"><i class="fa fa-circle-o"></i>Designation</a></li>
          </ul>
        </li>
       <li class="treeview">
          <a href="#">
            <i class="fa fa-life-ring"></i>
            <span>Payroll</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Salary%20Slip/List"><i class="fa fa-circle-o"></i>Salary Slip</a></li>
            <li><a href="#List/Payroll%20Entry/List"><i class="fa fa-circle-o"></i>Payroll Entry</a></li>
            <li><a href="#List/Salary%20Structure/List"><i class="fa fa-circle-o"></i>Salary Structure</a></li>
            <li><a href="#List/Salary%20Component/List"><i class="fa fa-circle-o"></i>Salary Component</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-male"></i>
            <span>Expense Claims</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Employee%20Advance/List"><i class="fa fa-circle-o"></i>Employee Advance</a></li>
            <li><a href="#List/Expense%20Claim/List"><i class="fa fa-circle-o"></i>Expense Claim</a></li>
            <li><a href="#List/Expense%20Claim%20Type/List"><i class="fa fa-circle-o"></i>Expense Claim Type</a></li>
            
          </ul>
        </li>
<!--         <li class="treeview">
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Employee Loan Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Loan%20Type/List"><i class="fa fa-circle-o"></i>Loan Type</a></li>
            <li><a href="#List/Employee%20Loan%20Application/List"><i class="fa fa-circle-o"></i>Employee Loan Application</a></li>
            <li><a href="#List/Employee%20Loan/List"><i class="fa fa-circle-o"></i>Employee Loan</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-calculator"></i>
            <span>Training</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#List/Training%20Program/List"><i class="fa fa-circle-o"></i>Training Program</a></li>
            <li><a href="#List/Training%20Event/List"><i class="fa fa-circle-o"></i>Training Event</a></li>
            <li><a href="#List/Training%20Result/List"><i class="fa fa-circle-o"></i>Training Result</a></li>
            <li><a href="#List/Training%20Feedback/List"><i class="fa fa-circle-o"></i>Training Feedback</a></li>
          </ul>
        </li> -->
        <li>
          <a href="#List/User/List">
            <i class="fa fa-cog"></i> <span>User</span>
          </a>
        </li>
        </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="overlay"><div>s