<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#List/Customer" data-toggle="tooltip" data-placement="right" title="Customers">
                    <i class="fa fa-address-book-o"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Sales Order" data-toggle="tooltip" data-placement="right" title="Orders">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Item" data-toggle="tooltip" data-placement="right" title="Inventory">
                    <i class="fa fa-cubes" style="padding-left: 1px;"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Price List" data-toggle="tooltip" data-placement="right" title="Price Lists">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Transporter" data-toggle="tooltip" data-placement="right" title="Transportation">
                    <i class="fa fa-truck"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Supplier" data-toggle="tooltip" data-placement="right" title="Suppliers">
                    <i class="fa fa-handshake-o"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Daily Production Order" data-toggle="tooltip" data-placement="right" title="Production Planner">
                    <i class="fa fa-bullhorn"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#modules/Farm Manager" data-toggle="tooltip" data-placement="right" title="Farm Manager">
                    <i class="fa fa-anchor"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#modules/Plant Manager" data-toggle="tooltip" data-placement="right" title="Plant Manager">
                    <i class="fa fa-dashboard"></i>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>