include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include whotheme *.css
recursive-include whotheme *.csv
recursive-include whotheme *.html
recursive-include whotheme *.ico
recursive-include whotheme *.js
recursive-include whotheme *.json
recursive-include whotheme *.md
recursive-include whotheme *.png
recursive-include whotheme *.py
recursive-include whotheme *.svg
recursive-include whotheme *.txt
recursive-exclude whotheme *.pyc