/** Who Theme App - Inset **/

html {
    background-color: #d0d0d0;
}

html, body {
    overflow-x: hidden;
    padding: 15px;
    border-radius: 9px;
}

/** Who Theme App **/

#page-desktop{ position: static}

#body_div{ background: #FFFFFF}

/* .main-section{ background: #222d32} */
.page-head{ 
    position: static;
    border-bottom: none;
}

.page-content{ margin-top:0}

header .container {
    width: 100%;
    padding: 0px 15px 0 0;
    min-height: 50px;
    border: 0px solid white;
    box-shadow: inset 0px -5px 0px 0px #86754d;
}

.navbar-brand{ padding: 0 15px 0 15px; line-height: 50px; height: 50px;}

#navbar-breadcrumbs > li > a{ padding: 11px 15px 15px 0px}

.navbar-form{ margin-top:15px;}

.navbar .dropdown-toggle{padding:13px 15px}

header .dropdown-help{display:none}

.main-header .sidebar-toggle{text-decoration: none;}

.page-container{margin-top:0;}
/*
.navbar-brand{height: 50px; line-height: 30px}
.main-header .logo { height: 40px}
.main-header .sidebar-toggle{ line-height: 40px;}
.main-header .navbar{min-height: 40px;}
*/
#page-desktop{ background-color:#FFFFFF !important}

.main-header .logo .logo-lg{
    background: #367fa9 url(/assets/bdtheme/images/logo.png) center no-repeat;
    background-size: auto 36px;
    text-indent:-99em;
}
.main-header .logo .logo-mini{
    background: #2f3333 url(/assets/bdtheme/images/logo-icon.png) center no-repeat;
    background-size: auto 28px;
    text-indent:-99em;
}
.layout-side-section{ font-size: 13px;}

.layout-main-section {
    border-left: 1px dotted #d1d8dd;
    border-top: 0px;
    padding: 0 0 0 25px;
}

@media (min-width: 768px){
    .listview-main-section {
        border-right: 1px solid #d1d8dd;
    }
}

.case-label{ color:#000; text-shadow:none; font-size: 95%; font-weight:normal}

h6.uppercase, .h6.uppercase{ color: #666666;}

.control-label, .grid-heading-row{ color: #666666;}

.inline-graph .inline-graph-half .inline-graph-bar-left-red {
    display: block;
    float: left;
    background-color: #ff5656;
    height: 6px;
    border-radius: 0px 3px 3px 0px;
}
.inline-graph .inline-graph-half .inline-graph-bar-right-green{
    display: block;
    float: left;
    background-color: #7CD354;
    height: 6px;
    border-radius: 3px 0px 0px 3px;
}
.container {
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
}