<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#List/Customer" data-toggle="tooltip" data-placement="right" title=" Customers">
                    <i class="fa fa-address-book-o"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Sales Order" data-toggle="tooltip" data-placement="right" title=" Orders">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Item" data-toggle="tooltip" data-placement="right" title=" Inventory">
                    <i class="fa fa-cubes" ></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Price List" data-toggle="tooltip" data-placement="right" title=" Price Lists">
                    <i class="fa fa-book"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Transporter" data-toggle="tooltip" data-placement="right" title=" Shipping">
                    <i class="fa fa-truck"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Supplier" data-toggle="tooltip" data-placement="right" title=" Suppliers">
                    <i class="fa fa-handshake-o"></i>
                </a>
            </li>
            <li class="treeview">
                    <a href="#List/Supplier" data-toggle="tooltip" data-placement="right" title=" Suppliers">
                        <i class="fa fa-handshake-o"></i>
                    </a>
                </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calculator"></i>
                    <span>Finance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#query-report/Accounts Payable">
                            <i class="fa_bullet fa fa-circle-o"></i> Accounts Payable</a>
                    </li>
                    <li>
                        <a href="#query-report/Accounts Receivable">
                            <i class="fa_bullet fa fa-circle-o"></i> Accounts Receivable</a>
                    </li>
                    <li>
                        <a href="#query-report/Balance Sheet">
                            <i class="fa_bullet fa fa-circle-o"></i> Balance Sheet</a>
                    </li>
                    <li>
                        <a href="#query-report/Cash Flow">
                            <i class="fa_bullet fa fa-circle-o"></i> Cash Flow</a>
                    </li>
                    <li>
                        <a href="#query-report/Profit and Loss Statement">
                            <i class="fa_bullet fa fa-circle-o"></i> Profit and Loss</a>
                    </li>
                    <li>
                        <a href="#query-report/Gross Profit">
                            <i class="fa_bullet fa fa-circle-o"></i> Gross Profit</a>
                    </li>
                    <li>
                        <a href="#List/Budget">
                            <i class="fa_bullet fa fa-circle-o"></i> Budget</a>
                    </li>
                    <li>
                        <a href="#modules/Accounts">
                            <i class="fa_bullet fa fa-circle-o"></i> More...</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-calculator"></i>
                    <span>Bookkeeping</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Sales Invoice">
                            <i class="fa_bullet fa fa-circle-o"></i> Sales Invoice</a>
                    </li>
                    <li>
                        <a href="#List/Purchase Invoice">
                            <i class="fa_bullet fa fa-circle-o"></i> Purchase Invoice</a>
                    </li>
                    <li>
                        <a href="#List/Payment Entry">
                            <i class="fa_bullet fa fa-circle-o"></i> Payment Entry</a>
                    </li>
                    <li>
                        <a href="#List/Payment Request">
                            <i class="fa_bullet fa fa-circle-o"></i> Payment Request</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#modules/Setup">
                    <i class="fa fa-cog"></i>
                    <span>Setup</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>