<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview treeview-single">
                <a href="#List/Customer">
                    <i class="ma material-icons">contacts</i>
                    <span class="treeview-single"> Customers</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Sales Order">
                    <i class="ma material-icons">shopping_cart</i> 
                    <span class="treeview-single"> Orders</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Item">
                    <i class="fa fa-cubes"></i>
                    <span class="treeview-single"> Products</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Shipment">
                    <i class="ma material-icons">local_shipping</i> 
                    <span class="treeview-single"> Shipments</span>
                </a>
            </li>

            <li class="treeview ">
                <a href="#">
                    <i class="ma material-icons">record_voice_over</i>
                    <span> CRM</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Lead">
                            <i class="fa_bullet fa fa-circle-o"></i> Leads</a>
                    </li>
                    <li>
                        <a href="#List/Opportunity">
                            <i class="fa_bullet fa fa-circle-o"></i> Opportunities</a>
                    </li>
                    <li>
                        <a href="#List/Contact">
                            <i class="fa_bullet fa fa-circle-o"></i> Contacts</a>
                    </li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="ma material-icons">account_balance</i>
                    <span> Finance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#Tree/Account">
                            <i class="fa_bullet fa fa-circle-o"></i> Chart of Accounts</a>
                    </li>
                    <li>
                        <a href="#query-report/Accounts Payable">
                            <i class="fa_bullet fa fa-circle-o"></i> Accounts Payable</a>
                    </li>
                    <li>
                        <a href="#query-report/Accounts Receivable">
                            <i class="fa_bullet fa fa-circle-o"></i> Accounts Receivable</a>
                    </li>
                    <li>
                        <a href="#query-report/Balance Sheet">
                            <i class="fa_bullet fa fa-circle-o"></i> Balance Sheet</a>
                    </li>
                    <li>
                        <a href="#query-report/Cash Flow">
                            <i class="fa_bullet fa fa-circle-o"></i> Cash Flow</a>
                    </li>
                    <li>
                        <a href="#query-report/Profit and Loss Statement">
                            <i class="fa_bullet fa fa-circle-o"></i> Profit and Loss</a>
                    </li>
                    <li>
                        <a href="#query-report/Gross Profit">
                            <i class="fa_bullet fa fa-circle-o"></i> Gross Profit</a>
                    </li>
                    <li>
                        <a href="#List/Budget">
                            <i class="fa_bullet fa fa-circle-o"></i> Budget</a>
                    </li>
                    <li>
                        <a href="#modules/Accounts">
                            <i class="fa_bullet fa fa-circle-o"></i> More...</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="ma material-icons">attach_money</i>
                    <span> Bookkeeping</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Sales Order">
                            <i class="fa_bullet fa fa-circle-o"></i> Sales Order</a>
                    </li>
                    <li>
                        <a href="#List/Sales Invoice">
                            <i class="fa_bullet fa fa-circle-o"></i> Sales Invoice</a>
                    </li>
                    <li>
                        <a href="#List/Supplier">
                            <i class="fa_bullet fa fa-circle-o"></i> Suppliers</a>
                    </li>
                    <li>
                        <a href="#List/Purchase Order">
                            <i class="fa_bullet fa fa-circle-o"></i> Purchase Order</a>
                    </li>
                    <li>
                        <a href="#List/Purchase Invoice">
                            <i class="fa_bullet fa fa-circle-o"></i> Purchase Invoice</a>
                    </li>
                    <li>
                        <a href="#List/Payment Entry">
                            <i class="fa_bullet fa fa-circle-o"></i> Payment Entry</a>
                    </li>
                    <li>
                        <a href="#List/Payment Request">
                            <i class="fa_bullet fa fa-circle-o"></i> Payment Request</a>
                    </li>
                </ul>
            </li>
            <li class="treeview treeview-single">
                <a href="#modules/Selling">
                    <i class="ma material-icons">settings</i>
                    <span class="treeview-single"> Settings</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>