<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#List/Customer" data-toggle="tooltip" data-placement="right" title="Customers">
                    <i class="fa fa-address-book-o"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Sales Order" data-toggle="tooltip" data-placement="right" title="Orders">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Item" data-toggle="tooltip" data-placement="right" title="Inventory">
                    <i class="fa fa-cubes"></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#List/Transport Schedule" data-toggle="tooltip" data-placement="right" title="Transportation">
                    <i class="fa fa-truck"></i>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>